# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# Databases
*.db

# Models
models/

# Reports
reports/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db